/* Styles pour le conteneur principal */
/*.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.max-w-md {
  max-width: 28rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Styles pour les titres */
/*.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.mb-3 {
  margin-bottom: 0.75rem;
}*/

/* Styles pour les paragraphes */
/*.mb-3:not(:last-child) {
  margin-bottom: 0.75rem;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #000;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

/* Styles pour le bouton */
/*.h-10 {
  height: 2.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.font-semibold {
  font-weight: 600;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.mt-2 {
  margin-top: 0.5rem;
}*/
